.content {
  font-size: 22px;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
  text-align: center;
}

.button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background: turquoise;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-large {
  font-size: 110%;
  padding: 0.5em 2em;
}

#current-word {
  font-weight: bold;
  font-size: 1.2em;
  margin-block-end: 0.5em;
}

#current-word-detail {
  color: #999;
  font-size: 0.5em;
}

#known-words-count {
  font-weight: bold;
  font-size: 1.2em;
}

.progress {
  width: 100%;
  height: 12px;
  border-radius: 6px;
}

.progress-wrap {
  background: #ddd;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  max-width: 500px;
}

.progress-wrap .progress-bar {
  background: rgb(0, 166, 255);
  width: 0;
}
